{# TODO: Add helpful hints as to what each field is for and how to obtain the needed information #}
{# TODO: Make the page visually appealing #}
{# TODO: Validate the values entered in the settings #}

{# Content for the settings dialog #}
<form class="form-horizontal">
    <div class="control-group">
        {# Device ID #}
        <label class="control-label">{{ _('Device ID') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tuyasmartplug.deviceId" />
        </div>

        {# IP Address #}
        <label class="control-label">{{ _('IP Address') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tuyasmartplug.ipAddress" />
        </div>

        {# Device Key #}
        <label class="control-label">{{ _('Local Key') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.tuyasmartplug.localKey" />
        </div>
    </div>
</form>
